@charset "utf-8"; 
@import "common";
@import "compass";
@import "compass/css3";
@import "compass/css3/border-radius";
@import "compass/utilities/general/clearfix";
@import "cloth/*.png";

.content{
	.wrap{
		background: #ddd;
		.header{
			@include one-line(30px);
			color:$body_bg_color;
			height:100%;
			border-bottom:1px solid $btn-border;
			background:$bg2;
			text-align:center;
			font-size:1em;
		}
	}
}