@charset "utf-8"; 
@import "common";
@import "compass";
@import "compass/css3";
@import "compass/css3/border-radius";
@import "compass/utilities/general/clearfix";
@import "cloth/*.png";

.content{
	background:#666;
	.wrap{
		background: #ddd;
		.header{
			@include one-line(30px);
			color:$body_bg_color;
			height:100%;
			border-bottom:1px solid #72cfd5;
			background:#15afb9;
			text-align:center;
			font-size:1em;
		}
		.pan{
			height:242px;
			width:100%;
			position:relative;
			border-bottom:1px solid #ababab;
			@media (min-width: 33.75em){
				height:242px *1.6;
				border-bottom:1px solid #ababab;
			}			
			@media (min-width: 43.75em){
				height:242px *2.5;
				border-bottom:1px solid #ababab;
			}
			@media (min-width: 56.25em){
				height:242px *3;
				border-bottom:1px solid #ababab;
			}			
			.view{
				height:100%;
				width:100%;
				background:$body_bg_color;
				position:relative;
				ul{
					padding:0px;
					margin:0px;
					li{
						list-style:none;
						margin:0px;
						height:0px;
						width:auto;
						height:auto;
						text-align:center;
						display:none;
						img{
							width:196px;
							height:196px;
							margin:0.5% auto;
							@media (min-width: 33.75em){
								height:196px *1.6;
								width:196px *1.6;
							}							
							@media (min-width: 43.75em){
								height:196px *2.5;
								width:196px *2.5;
							}
							@media (min-width: 56.25em){
								height:196px *3;
								width:196px *3;		
							}	
							&.f{
								display:none;
							}							
						}
						&:nth-child(2){
							display:block;
						}
					}
				}
				.flink{
					position:absolute;
					height:110px;
					width:26px;
					right:4px;
					//bakcground-image:('images/cloth/t.png');
					// @include cloth-sprite(t);
					background-size:100%;
					@include calc(top, "50% - 55px - 21px");
					.z,.f{
						position:absolute;
						height:50%;
						width:100%;
					}
					.z{
						top:0px;
					}
					.f{
						bottom:0px;
					}
					@media (min-width: 33.75em){
						height:110px *1.6;
						width:16px *2;
						@include calc(top, "50% - 88px - 33.6x");
						right:12px;
						.z,.f{
							height:50%;
						}					
					}			
					@media (min-width: 43.75em){
						height:110px *2.5;
						width:16px *3;
						@include calc(top, "50% - 137.5px - 52.5px");
						right:12px;					
						.z,.f{
							height:50%;
							padding-top:6px *2.5;
						}
					}
					@media (min-width: 56.25em){
						height:110px *3;
						width:16px *4;
						@include calc(top, "50% - 165px - 63px");
						right:12px;						
						.z,.f{
							height:50%;
						}		
					}
				}
			}
			.foot{
				width:100%;
				height:42px;
				background:#f3f3f3;
				position:absolute;
				left:0;
				bottom:0;
				@media (min-width: 33.75em){
					height:42px *1.6;
				}	
				@media (min-width: 43.75em){
					height:42px *2.5;
				}
				@media (min-width: 56.25em){
					height:42px *3;		
				}
				.radio-wrap{
					padding:0 3.125%;
					width:100%;
					text-align:center;
					@include clearfix;
					i{
						display:inline-block;
						width:20px;
						height:20px;
						border:1px solid #f3f3f3;
						float:left;
						margin-top:20px;
						@include border-radius(100px);
						@media (min-width: 33.75em){
							height:20px *1.6;
							width:20px *1.6;
							border:1.6px solid #f3f3f3;
							margin-top:20px *1.6;
						}						
						@media (min-width: 43.75em){
							height:20px *2.5;
							width:20px *2.5;
							border:2.5px solid #f3f3f3;
							margin-top:20px *2.5;
						}
						@media (min-width: 56.25em){
							height:20px *3;
							width:20px *3;
							border:3px solid #f3f3f3;
							margin-top:20px *3;
	
						}		
						&:nth-child(even) {
						 	margin-top:2px;
							@media (min-width: 33.75em){
								height:20px *1.6;
								width:20px *1.6;
								border:1.6px solid #f3f3f3;
								margin-top:2px *1.6;
							}							 	
							@media (min-width: 43.75em){
								height:20px *2.5;
								width:20px *2.5;
								border:2.5px solid #f3f3f3;
								margin-top:2px *2.5;
							}
							@media (min-width: 56.25em){
								height:20px *3;
								width:20px *3;
								border:3px solid #f3f3f3;
								margin-top:2px *3;
							}	
						}
						&.c0{
							background:#000;
						}
						&.c1{
							background:#fff;
						}

						&.c2{
							background:#999;
						}
						&.c3{
							background:#fc0;
						}
						&.c4{
							background:#99d02a;
						}
						&.c5{
							background:#f60;
						}
						&.c6{
							background:#063;
						}
						&.c7{
							background:#f00;
						}
						&.c8{
							background:#494a34;
						}
						&.c9{
							background:#b18bbc;
						}
						&.c10{
							background:#00b9c5;
						}
						&.c11{
							background:#ffc1d1;
						}
						&.c12{
							background:#86ace3;
						}
						&.c13{
							background:#6d4432;
						}
						&.c14{
							background:#1942af;
						}
						&.active{
							border-color:#d0d0d0;
							@include box-shadow(rgba(blue, 0.8) 0 0 15px, rgba(green, 0.8) 0 0 3px 1px inset);
						}											
					}
				}
					
			}
		}
		.tool{
			width:100%;
			text-align:center;
			height:auto;
			position:relative;
			@include clearfix;
			.ks,.ta{
				height:25px;
				width:25.625%;
				display:inline-block;
				position:absolute;
				cursor:pointer;
			}	
			.ks{
				left:24.375%;
			}			
			.ta{
				right:24.375%;
			}
			img{
				float:left;
				width:51.25%;
				margin:0 24.375%;

			}	

			@media (min-width: 33.75em){
				height:25px *1.6;
				.ks,.ta{
					height:25px *1.6;
				}				
			}							
			@media (min-width: 43.75em){
				height:25px *2.5;
				.ks,.ta{
					height:25px *2.5;
				}	
			}
			@media (min-width: 56.25em){
				height:25px *3;	
				.ks,.ta{
					height:25px *3;
				}					
			}
		}
		.bootom{
			position:relative;
			width:100%;
			.wheel{
				position:relative;
			}
			ul{
				@include clearfix;
				padding: 0px;
				margin:0px;
				li{
					list-style: none;
					ul{
						li{
							float:left;
							margin-right:4px;
							margin-bottom:2px;
							&:nth-child(4n){
								margin-right:0px;
							}
							img{
								width:77px;
								height:71px;								
								@media (width: 320px){
									width:77px;
									height:71px;
								}									
								@media (width: 360px){
									width:87px;
									height:74px;
								}			
								@media (width: 384px){
									width:93px;
									height:77px;
								}	

								@media (width: 400px){
									width:97px;
									height:92px;
								}	

								@media (width: 540px){
									width:132px;
									height:107px;
								}									

								@media (width: 720px){
									width:176px;
									height:135px;
								}
							}
						}
					}
				}
				&.ta{
					display:none;
				}
			}
			.nav-bar{
				position:absolute;
				@include calc(top, "50% - 10px");
				&.left{
					left:0%;
				}
				&.right{
					right:0%;
				}
				@media (min-width: 33.75em){
					@include calc(top, "50% - 16px");			
				}							
				@media (min-width: 43.75em){
					@include calc(top, "50% - 25px");	
				}
				@media (min-width: 56.25em){
					@include calc(top, "50% - 30px");					
				}
			}
		}
		.btn-cont{
			@include one-line(32px);
			background:#fff;
			.btn{
				@onclude border-radius(3px);
				background:#15afb9;
				font-size:1em;
				color:#fff;
				font-family: "微软雅黑";
				text-align:center;
				width:33.3%;
				float:left;
			}
			.price{
				display:inline-block;
				color:#15afb9;
				width:33.3%;
				float:left;
				text-align:center;
			}
		}
	}
}